@font-face {
    font-family: Jersey;
    src: url(Fonts/Jersey\ M54.ttf);
  }

body{
    background-color: #454545;
    color: white;
    font-family: Jersey;
    font-weight: 1;
}
h1{
    font-size:4vh;
    letter-spacing: 0.4vh;
}
.pyroSection{
    background-color: #202020;
    width:20vw;
    border-radius: 2vh;
    padding-top: 1vh;
    position:absolute;
    top:5vh;
    left: 3vw;
}
.sectionHeader{
    margin:0px;
    text-align: center;
    margin-bottom: 1vh;
}
.row{
    /* padding-top: 0.2vh;
    padding-bottom: 0.2vh; */
    height: 3vh;
}
.row p{
    display:inline-block;
    margin: 0%;
    font-size: 2.25vh;
    margin-top: 0.1vh;
    margin-left:0.15vw;
}
.rowLight{
    background-color: #3C3B3B;
    /* padding-top: 0.2vh;
    padding-bottom: 0.2vh; */
    height: 3vh;
}
.rowLight p{
    display: inline-block;
    margin: 0px;
    font-size: 2.25vh;
    margin-top: 0.1vh;
    margin-left:0.15vw;
}
#Status{
    position:absolute;
    left: 9.3vw;
    text-align: center;
}
.otherFont{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    /* font-size:1.vw; */
}
.FireBtn{
    font-family: Jersey;
    background-color: red;
    border:none;
    height:2.25vh;
    width:5.5vw;
    float: right;
    margin-right: 0.15vw;
    margin-top: 0.35vh;
    border-radius: 0.8vh;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    color: white;
    font-size: 1.81vh;
}
.FireBtn:hover{
    background-color: rgb(204, 0, 0);
}
.FireBtn:active{
    background-color: rgb(160, 0, 0);
}
#FireAll{
    font-family: Jersey;
    background-color: red;
    color: white;
    border: none;
    width: 12vw;
    font-size: 2vh;
    margin-left: 4vw;
    margin-top: 1.5vh;
    margin-bottom: 1vh;
    height: 3vh;
    padding-top: 0.4vh;
    border-radius: 1.5vh;
}
#FireAll:hover{
    background-color: rgb(204, 0, 0);
}
#FireAll:active{
    background-color: rgb(160, 0, 0);
}
.logo{
    width: 12vw;
    position: absolute;
    left: 44vw;
    top: 7vh;
}
.title{
    text-align: center;
    position: absolute;
    top: 25vh;
    width: 100vw;
}



.ConfigSection{
    background-color: #202020;
    width:20vw;
    border-radius: 2vh;
    padding-top: 1vh;
    position:absolute;
    top:32vh;
    left: 3vw;
}
#Select{
    font-family: Jersey;
    background-color: White;
    border:none;
    height:2.25vh;
    width:5.5vw;
    float: right;
    margin-right: 0.15vw;
    margin-top: 0.35vh;
    border-radius: 0.8vh;
    text-align: center;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    color: Black;
    font-size: 1.81vh;
}
#SelectAlt{
    font-family: Jersey;
    background-color: White;
    border:none;
    height:2.25vh;
    width:7vw;
    float: right;
    margin-right: 0.15vw;
    margin-top: 0.35vh;
    border-radius: 0.8vh;
    text-align: center;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    color: Black;
    font-size: 1.81vh;
}
#Alt{
    font-family: Jersey;
    background-color: White;
    border:none;
    height:2.25vh;
    width:2vw;
    float: right;
    margin-right: 0.15vw;
    margin-top: 0.35vh;
    border-radius: 0.8vh;
    text-align: center;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    color: Black;
    font-size: 1.81vh;
}
.Btn{
    font-family: Jersey;
    background-color: white;
    border:none;
    height:2.25vh;
    width:5.5vw;
    float: right;
    margin-right: 0.15vw;
    margin-top: 0.35vh;
    border-radius: 0.8vh;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    color: black;
    font-size: 1.81vh;
    text-align: center;
}
.Btn:hover{
    background-color: rgb(182, 182, 182);
}
.Btn:active{
    background-color: rgb(58, 58, 58);
}
#SelectMode{
    font-family: Jersey;
    background-color: White;
    border:none;
    height:2.25vh;
    width:6vw;
    float: right;
    margin-right: 0.15vw;
    margin-top: 0.35vh;
    border-radius: 0.8vh;
    text-align: center;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    color: Black;
    font-size: 1.81vh;
}
#SendBtn{
    font-family: Jersey;
    background-color: White;
    color: Black;
    border: none;
    width: 12vw;
    font-size: 2vh;
    margin-left: 4vw;
    margin-top: 1.5vh;
    margin-bottom: 1vh;
    height: 3vh;
    padding-top: 0.4vh;
    border-radius: 1.5vh;
    transition: 0.2s ease-in-out;
}
#SendBtn:hover{
    background-color: rgb(197, 197, 197);
}
#SendBtn:active{
    background-color: rgb(119, 119, 119);
}


.ServoSection{
    background-color: #202020;
    width:20vw;
    border-radius: 2vh;
    padding-top: 1vh;
    position:absolute;
    top:70vh;
    left: 3vw;
}
#pm{
    font-family: Jersey;
    background-color: White;
    border:none;
    height:2.25vh;
    width:2vw;
    float: right;
    margin-right: 0.25vw;
    margin-left: 0.25vw;
    margin-top: 0.35vh;
    border-radius: 0.8vh;
    text-align: center;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    color: Black;
    font-size: 2.5vh;
    font-family: monospace;
    font-weight: 900;
}
#pm span{
    position: relative;
    top: -0.65vh;
}

#pm:hover{
    background-color: rgb(197, 197, 197);
}
#pm:active{
    background-color: rgb(119, 119, 119);
}
#Servo1_pos{
    float: right;
    margin: 0px;
}
#Servo2_pos{
    float: right;
    margin: 0px;
}
#Servo3_pos{
    float: right;
    margin: 0px;
}
#Servo4_pos{
    float: right;
    margin: 0px;
}