@font-face {
    font-family: Jersey;
    src: url(Fonts/Jersey\ M54.ttf);
}

body {
    background-color: #454545;
    color: white;
    font-family: Jersey;
    font-weight: 1;
    margin: 0;
    padding: 0;
    font-size: clamp(0rem, 3vw, 100rem);
}

h1 {
    font-size: clamp(0rem, 2.5vw, 2.5rem);
    letter-spacing: 0.4vh;
}

.pyroSection {
    background-color: #202020;
    width: 20vw;
    border-radius: 2vh;
    padding-top: 1vh;
    margin: 0px;
    margin-top: 5vh;
    margin-left: 3vw;
}

.ConfigSection, .ServoSection {
    background-color: #202020;
    width: 20vw;
    border-radius: 2vh;
    padding-top: 1vh;
    margin: 0px;
    margin-top: 3vh;
    margin-left: 3vw;
}

.sectionHeader {
    margin: 0;
    text-align: center;
    margin-bottom: 1vh;
}

.rows {
    display: flex;
    flex-direction: column;
}

.row, .rowLight {
    display: flex;
    align-items: center;
    padding: 0.1rem 0.15vw;
}

.rowLight {
    background-color: #3C3B3B;
}

.row p, .rowLight p {
    display: inline-block;
    margin: 0;
    font-size: clamp(0rem, 1vw, 2.5rem);
    margin-top: 0.1vh;
    margin-left: 0.15vw;
    flex: 1;
}

#Status {
    position: relative;
    left: -1.2vw;
    text-align: center;
}

.otherFont {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.FireBtn {
    font-family: Jersey;
    background-color: red;
    border: none;
    height: 1.2vw;
    width: 5.5vw;
    border-radius: 0.8vh;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    color: white;
    font-size: clamp(0rem, 1.05vw, 2.5rem);
    margin-right: 0.15vw;
    margin-top: 0.35vh;
}

.FireBtn:hover {
    background-color: rgb(204, 0, 0);
}

.FireBtn:active {
    background-color: rgb(160, 0, 0);
}

#FireAll {
    font-family: Jersey;
    background-color: red;
    color: white;
    border: none;
    width: 12vw;
    font-size: clamp(0rem, 1.25vw, 2.5rem);
    margin-left: 4vw;
    margin-top: 1.5vh;
    margin-bottom: 1vh;
    height: 1.5vw;
    border-radius: 1.5vh;
}

#FireAll:hover {
    background-color: rgb(204, 0, 0);
}

#FireAll:active {
    background-color: rgb(160, 0, 0);
}

.logo {
    width: 12vw;
    position: absolute;
    left: 44vw;
    top: 7vh;
}

.title {
    text-align: center;
    position: absolute;
    top: 25vh;
    width: 100vw;
}

#Select {
    font-family: Jersey;
    background-color: white;
    border: none;
    height: 1.15vw;
    width: 5.5vw;
    border-radius: 0.8vh;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    color: black;
    font-size: clamp(0rem, 1vw, 2.5rem);
    margin-right: 0.15vw;
    margin-top: 0.35vh;
}

#SelectAlt {
    font-family: Jersey;
    background-color: white;
    border: none;
    height: 1.15vw;
    width: 7vw;
    border-radius: 0.8vh;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    color: black;
    font-size: clamp(0rem, 1vw, 2.5rem);
    margin-right: 0.15vw;
    margin-top: 0.35vh;
}

#Alt {
    font-family: Jersey;
    background-color: white;
    border: none;
    height: 1.15vw;
    width: 2vw;
    border-radius: 0.8vh;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    color: black;
    font-size: clamp(0rem, 1vw, 2.5rem);
    margin-right: 0.15vw;
    margin-top: 0.35vh;
}

.Btn {
    font-family: Jersey;
    background-color: white;
    border: none;
    height: 1.15vw;
    width: 5.5vw;
    border-radius: 0.8vh;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    color: black;
    font-size: clamp(0rem, 1vw, 2.5rem);
    margin-right: 0.15vw;
    margin-top: 0.05vh;
    text-align: center;
    padding: 0px;
}

.Btn:hover, #Select:hover, #SelectAlt:hover, #SelectMode:hover {
    background-color: rgb(182, 182, 182);
}

.Btn:active, #Select:active, #SelectAlt:active, #SelectMode:active {
    background-color: rgb(58, 58, 58);
}

#SelectMode {
    font-family: Jersey;
    background-color: white;
    border: none;
    height: 1.15vw;
    width: 6vw;
    border-radius: 0.8vh;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    color: black;
    font-size: clamp(0rem, 1vw, 2.5rem);
    margin-right: 0.15vw;
    margin-top: 0.35vh;
}

#SendBtn {
    font-family: Jersey;
    background-color: white;
    color: black;
    border: none;
    width: 12vw;
    font-size: clamp(0rem, 1.25vw, 2.5rem);
    margin-left: 4vw;
    margin-top: 1.5vh;
    margin-bottom: 1vh;
    height: 1.5vw;
    border-radius: 1.5vh;
    transition: background-color 0.2s ease-in-out;
}

#SendBtn:hover {
    background-color: rgb(197, 197, 197);
}

#SendBtn:active {
    background-color: rgb(119, 119, 119);
}

#pm {
    font-family: monospace;
    background-color: white;
    border: none;
    height: 1.25vw;
    width: 2vw;
    border-radius: 0.8vh;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    color: black;
    font-size: clamp(0rem, 1.5vw, 2.5rem);
    font-weight: 900;
    margin-right: 0.25vw;
    margin-left: 0.25vw;
    margin-top: 0.35vh;
}

#pm span {
    position: relative;
    top: -0.65vh;
    font-size: 100%;
}

#pm:hover {
    background-color: rgb(197, 197, 197);
}

#pm:active {
    background-color: rgb(119, 119, 119);
}

#Servo1_pos, #Servo2_pos, #Servo3_pos, #Servo4_pos {
    margin: 0 0.5rem;
    float: right;
    position: relative;
    right: -5vw;
}
.p{
    position: relative;
    right:-5vw;
}